@model DryButlerAPIDocs.Models.Model

<div>
    <h4>@Model.ModelName</h4>
    <hr />
    <h3>Parameters</h3>
    <table class="table">
        <tr>
            <th>
                Parameter Name
            </th>
            <th>
                Parameter Type
            </th>
            <th>Model</th>
            <th>Nullable</th>
        </tr>

        @foreach (var item in Model.ModelParameters)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Parameter.ParameterName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => K2Facade.EnumComboClass.SelectByID(K2Facade.ProjectEnums.PropertyTypes, item.Parameter.ParameterType, 0).DESC)
                </td>
                <td>
                    @if (item.ObjectModelID.HasValue)
                    {
                    @Html.ActionLink(item.ObjectModelName, "Index", "Model", new { id = item.ID }, null)
                    }
                    else
                    {
                        <span>{ NULL }</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nullable)
                </td>
            </tr>
        }

    </table>
</div>