@model DryButlerAPIDocs.Models.DBAPIModel

<div class="requestdiv">
    <table class="table">

        <tr class="requestmodeltext">
            <th colspan="7">Request Model</th>
        </tr>
        <tr class="requestpartial">
            <th colspan="7">@Model.ModelName</th>
        </tr>
        <tr class="requestpartial">
            <th>Parameter Name</th>
            <th>Parameter Type</th>
            <th>Required</th>
            <th>Model</th>
            <th>Description</th>
            <th>Value Range/Description</th>
            <th>Sample Value</th>
        </tr>

        @foreach (var item in Model.ModelParameters)
        {
            <tr class="requestcolomncolor">
                <td>
                    @Html.DisplayFor(modelItem => item.ParameterName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParameterTypeDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Required)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.ObjectModelID))
                    {
                        @Html.ActionLink(item.ObjectModelName, "Details", "Model", new { id = item.ObjectModelID }, null)
                    }
                    else
                    {
                        <span>-</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValueRange)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SampleValue)
                </td>
            </tr>
        }
    </table>
</div>